.page_not_found img{margin: auto; display: block; margin-top:20px;}
.img_sec {
    display: inline-block;
    width: 100%;
}
.buttonrouter {
    margin: auto;
    bottom: 69px;
    position: absolute;
    right: 0px;
    left: 0px;
    text-align: center;
    width: 20%;
}