<!-- <div class="backimg">
    <div class="section_start">
        <div class="col-lg-2 col-md-2 col-sm-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8">
            <div class="sign_logo">
                <img src="assets/images/rme.png"/>
                  </div>
          <div class="form_section">
              <div class="mobilesigninSinup">
               <button class="Signin-button active">Sign In</button>
                <a href="#"><button class="Signup-button">Sign Up</button></a>
              </div>
        <form class="form-signin">
          <div class="form-group">
              <i class="fa fa-user-o" aria-hidden="true"></i>
              <input type="text" class="form-control" name="username"  [(ngModel)] = "username" placeholder="userName" required>
             
            </div>
           
            <div class="form-group">
              <i class="fa fa-lock" aria-hidden="true"></i>
            <input type="password" class="form-control" name="password" [(ngModel)] = "password" placeholder="Password">
     
          </div>

      
       <button class="btn btn-primary" type="submit" (click)="ValidateLogin()"> Login </button>
        
        </form>
        </div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2"></div>
    </div>
  </div>

  <input type="text" class="form-control" name="username"  [(ngModel)] = "username" (input)="checkUser()" placeholder="userName" required> -->
