<div class="wrapper_sec">
    <app-navigation></app-navigation>
    
    <div class="topbreadcrumb">
    <div class="row">
        <div class="col">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" 
                *ngFor="let item of breadcrumbList; let i = index"
                [class.active]="i===breadcrumbList.length-1">
                <a [routerLink]="item.path" *ngIf="i!==breadcrumbList.length-1">
                  {{ item.name }}
                </a>
                <span *ngIf="i===breadcrumbList.length-1">{{ item.name }}</span>
              </li>
            </ol>
          </div>
    </div>
  </div>

    <div class="routlet_sec">
    <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
    </div>