<div id="nav-home">
  <a routerLink="/user/myprofile/myproperties"> <i class="fa fa-angle-double-left"></i>
    Back</a>
<table>
  <tr>
    <th>Name</th>
    <th>Mobie No.</th>
    <th>Lead Preference</th>
    <th>Email Id</th>
    <th>COST</th>
  </tr>
  <tr>
    <td>
      <img src="assets/images/profile.jpg"> Gaurav
    </td>
    <td>8527215563</td>
    <td>today</td>
    <td>gaurav.k.mzp@gmail.com</td>
    <td>₹ 292929</td>
  </tr>
  <tr>
      <td>
        <img src="assets/images/profile.jpg"> Gaurav
      </td>
      <td>8527215563</td>
      <td>today</td>
      <td>gaurav.k.mzp@gmail.com</td>
      <td>₹ 292929</td>
    </tr>
    <tr>
        <td>
          <img src="assets/images/profile.jpg"> Gaurav
        </td>
        <td>8527215563</td>
        <td>today</td>
        <td>gaurav.k.mzp@gmail.com</td>
        <td>₹ 292929</td>
      </tr>
      <tr>
          <td>
            <img src="assets/images/profile.jpg"> Gaurav
          </td>
          <td>8527215563</td>
          <td>today</td>
          <td>gaurav.k.mzp@gmail.com</td>
          <td>₹ 292929</td>
        </tr>
        <tr>
            <td>
              <img src="assets/images/profile.jpg"> Gaurav
            </td>
            <td>8527215563</td>
            <td>today</td>
            <td>gaurav.k.mzp@gmail.com</td>
            <td>₹ 292929</td>
          </tr>
</table>
</div>